<!DOCTYPE html>
<html>
  <head>
    <title><%= environment_title_prefix %>Zhong</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="google" content="notranslate" />

    <script type="text/javascript" src="<%= root_path %>javascript/vendor.min.js"></script>
    <script type="text/javascript" src="<%= root_path %>javascript/application.js"></script>

    <style>
      body {
        font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 20px;
        font-size: 14px;
        line-height: 1.4;
        color: #333;
      }

      a, a:visited, a:active {
        color: #428bca;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin-bottom: 20px;
      }

      th {
        text-align: left;
        border-bottom: solid 2px #ddd;
      }

      table td, table th {
        padding: 8px;
      }

      td {
        border-top: solid 1px #ddd;
      }

      .disabled {
        background-color: pink;
      }
    </style>
  </head>
  <body>
    <div>
      <table>
        <thead>
          <tr>
            <th>Job</th>
            <th style="width: 15%;">Scheduled</th>
            <th style="width: 15%;">Last Run</th>
            <th style="width: 15%;">Next Run</th>
            <th style="width: 15%;">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @jobs.each do |job| %>
            <% enabled = !@disabled[job.to_s] %>
            <% enabled_str = enabled ? 'disable' : 'enable' -%>
            <% last_run = @last_runs[job.to_s] %>
            <tr class="<%= enabled ? "" : "disabled" %>">
              <td><%= h(job) %></td>
              <td>
                <% if job.every %>
                  every <%= job.every %>
                <% end %>
                <% if job.at %>
                  at <%= job.at %>
                <% end %>
              </td>
              <td><%= relative_time(last_run ? Time.at(last_run.to_i) : nil) %></td>
              <td><%= relative_time(job.next_at) %></td>
              <td>
                <form method="POST" style="margin-top: 20px; margin-bottom: 10px;">
                  <%= csrf_tag %>
                  <div>
                    <button type="submit" name="<%= enabled_str -%>" value="<%= job.id -%>" data-confirm="Are you sure you want to <%= enabled_str -%> this job?"><%= enabled_str.capitalize -%></button>
                  </div>
                </form>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div>
      <h3>Hosts</h3>
      <ul>
      <% @hosts.each do |host| -%>
        <li>
          <strong><%= h(host[:host]) -%></strong> <em>(PID <%= host[:pid] -%>)</em>: last seen <%= relative_time(host[:last_seen]) -%>.
        </li>
      <% end -%>
      </ul>
    </div>
    <div>
      <small><%= product_version -%></small>
    </div>
  </body>
</html>
